/*  BODY */
  
body {
  background-color: #E8ECEF;
}

/* CLASS CENTERED */
.centered {
    padding-top: 200px;
    text-align: center;
}

/* CLASS SECRET TEXT */

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
